.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        background-color: $color-white;
        transform: translate(-50%, -50%) scale(.5);
        display: table;
        transition: all .3s .2s;
        @include responsiveness(pixelToEm(800)){
            top: 40%;

        }

        &--left{
            width: 40%;      
            display: table-cell;

        }

         &--right{
            width: 60%;
            display: table-cell;
            padding: 1rem 3rem;
            vertical-align: middle;
            position: relative;

            h3{
                margin-bottom: 2rem;
                font-size: 40px;
                @include responsiveness(pixelToEm(1100)){
                    font-size: 3rem;
                }

            }
        }
    }

    &__img{
        width: 100%;
        display: block;

    }

    &__text{
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }

    &__buy {
    display: inline-block;

    .btn,
    .btn::after {
        @include responsiveness(pixelToEm(1100)) {
            font-size: 1rem 2rem; // Set a single font size
        }
    }

    .payment__services {
        display: inline-block;
        margin-left: 2rem;
        padding: .5rem 1rem;
        transform: translateY(1rem);
        @include responsiveness(pixelToEm(900)){
            margin-left: 1.2rem;
            padding: 0.5rem 0.2rem;
        }
        @include responsiveness(pixelToEm(920)){
            margin-left: .5rem;
            padding: .5rem 0;
        }
        @include responsiveness(pixelToEm(800)) {
            display: none; // Confirm this is intended
        }

        img {
            width: 4rem;
            height: auto;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}

    &__close{
            &:link,
            &:visited{
                font-size: 4rem;
                color: $color-soft-dark-gray;
                position: absolute;
                top: 3rem;
                right: 3rem;
                text-decoration: none;
                line-height: 1;
                transition: all .3s;
            }

            &:hover{
                color: $color-red;
            }

        }

        &:target{
            visibility: visible;
            opacity: 1;
        }
}