.header-show{
    width: 100%;
    height: 100vh;
    &__background{
        background: url(../../img/show/main/GT86RedWithGrayBG.jpg);
        @include backgroundFixer();
        position: relative;
    }
}

.description-box__container{
    position: absolute;
    top: 23%;
    left: 3%;
    width: 24%;
    
}

.after-header{
    width: 100%;
    height: 80vh;

    &--bg-container{
        background: url(../../img/show/main/GT86RedWithGrayBG.jpg);
        background-attachment: fixed;
        @include backgroundFixer();
    
    }
}